@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    margin-right: 10px;
    opacity: 1;
    border-color: black;
    border-radius: 2px;
  }
}

body {
  background-color: white;
}

.badge:after {
  content: attr(value);
  font-size: 12px;
  color: #fff;
  background: red;
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.9;
}

.search-input {
  width: 0;
  padding: 0;
  transition: width 0.1s ease-in-out;
}
.search-input.active {
  width: 500px;
  padding: 0 1.5rem;
  border: 1px solid black;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
